{% if posts.has_other_pages %}

  {% if posts.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1&query={{ request.GET.query }}">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ posts.previous_page_number }}&query={{ request.GET.query }}">Previous</a>
  {% endif %}

  {% for num in posts.paginator.page_range %}
    {% if posts.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}&query={{ request.GET.query }}">{{ num }}</a>
    {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}&query={{ request.GET.query }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if posts.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ posts.next_page_number }}&query={{ request.GET.query }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ posts.paginator.num_pages }}&query={{ request.GET.query }}">Last</a>
  {% endif %}

{% endif %}


{% comment %}
<!-- is_paginated is a method of MultipleObjectMixin -> ListView - class based view -->
{% if is_paginated %}

  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

{% endif %}

{% endcomment %}
