{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block content %}
  {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'blog:user-posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_published|date:"N d, Y" }}</small>
        </div>
        <h2>
          <a class="article-title" href="{{ post.get_absolute_url }}">
            {{ post.title|capfirst }}</a> -
            {% include 'blog/_time_to_read.html' %}
        </h2>
        <p class="article-content">{{ post.content|markdown|truncatewords_html:200 }}</p>
      </div>
    </article>
  {% endfor %}

  {% include 'blog/_pagination.html' %}

{% endblock content %}
