{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block content %}
  {% if tag %}
      <h2>Posts tagged with "{{ tag.name }}":</h2>
  {% endif %}
  {% for post in posts %}
    <article class="media content-section">
      {% comment %}
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="profile picture">
      {% endcomment %}
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'blog:user-posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted mr-2">{{ post.date_published|date:"N d, Y" }}</small>
          <small><strong>Tags:</strong>
              {% for tag in post.tags.all %}
                  <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                      {{ tag.name }}
                  </a>
                  {% if not forloop.last %}, {% endif %}
              {% endfor %}
          </small>
          <!-- {# <small class="tags">Tags: {{ post.tags.all|join:", " }}</small> #} -->
        </div>
        <h2>
          <a class="article-title" href="{{ post.get_absolute_url }}">
            {{ post.title|capfirst }}</a> -
            {% include 'blog/_time_to_read.html' %}
        </h2>
        <p class="article-content">{{ post.content|markdown|truncatewords_html:200 }}</p>
      </div>
    </article>
  {% endfor %}

  {% include 'blog/_pagination.html' %}

{% endblock content %}
