{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'blog:user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_published|date:"N d, Y" }}</small>
        <!-- if the author is the current logged in user -->
        {% if post.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:post-update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:post-delete' post.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">
        {{ post.title|capfirst }} -
        {% include 'blog/_time_to_read.html' %}
      </h2>
      <p class="article-content">{{ post.content|markdown }}</p>
    </div>
  </article>
{% endblock content %}
