{% extends 'blog/base.html' %}
{% load markdownify %}
{% load static %}

{% block styles %}
  <!-- Stylesheet for syntax highlight -->
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/default.css' %}">
{% endblock styles %}

{% block content %}
  <!-- Search bar -->
  <div class="row d-flex justify-content-center">
    <form method='GET' action="" class="form-group has-search col-md-5">
      <i class="fa fa-search form-control-feedback"></i>
      <input type="text" class="form-control search-bar-round" name="query" value="{{ request.GET.query }}" placeholder="Search posts">
    </form>
  </div>
  {% if tag %}
    {% for tag_object in tags %}
       {% if tag.name == tag_object.name %}
        <h3 class="mt-2 mb-2">Posts tagged with
          <button type="button" class="btn btn-sm btn-warning mb-1">
            {{ tag.name }} <span class="badge badge-text badge-primary">{{ tag_object.num_times }}</span>
          </button>
        </h3>
      {% endif %}
    {% endfor %}
  {% endif %}


  {% for post in posts %}
    <article class="media content-section">
      {% comment %}
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="profile picture">
      {% endcomment %}
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'blog:user-posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted mr-2">{{ post.date_published|date:"N d, Y" }}</small>
          <small><strong>Tags:</strong>
              {% for tag in post.tags.all %}
                <a class="badge badge-warning text-dark" href="{% url 'blog:post_list_by_tag' tag.slug %}">
                  <span class="badge-text">{{ tag.name }}</span>
                </a>
                {# {% if not forloop.last %}, {% endif %} #}
              {% endfor %}
          </small>
          <span class="badge badge-danger text-white badge-text align-middle">
            {% include 'blog/_time_to_read.html' %}
          </span>
          <!-- {# <small class="tags">Tags: {{ post.tags.all|join:", " }}</small> #} -->
        </div>
        <h2>
          <a class="article-title underline" href="{{ post.get_absolute_url }}">
            {{ post.title|capfirst }}</a>

        </h2>
        <div class="article-content post-detail-item">{{ post.content|markdownify|safe|truncatewords_html:50 }}</div>
      </div>
    </article>
  {% endfor %}

  {% include 'blog/_pagination.html' %}

{% endblock content %}
