{% extends 'blog/base.html' %}
{% load urlify %}
{% load markdownify %}


{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'blog:user-posts' post.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_published|date:"N d, Y" }}</small>
        <!-- if the author is the current logged in user -->
        {% if post.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:post-update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:post-delete' post.id %}">Delete</a>
            <a class="btn btn-sm mt-1 mb-1" href="{% url 'blog:post_share_by_email' post.id %}">Share</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">
        <br>
        {{ post.title|capfirst }}
        <br><br>
      </h2>
      <div class="article-content post-detail-item">{{ post.content|markdownify|safe }}</div>

      <!-- Like and Share links -->
      <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
      <hr><br>
      <div class="row">
        <div class="col-md-12 col-md-offset-1">
          <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="5"></div>
        </div>
      </div>
      <!-- <div>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">Share on Facebook</a>
        <a href="https://twitter.com/home?status={{ post.title|urlify }}%20{{ request.build_absolute_uri }}" target="_blank">Share on Twitter</a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title|urlify }}&summary={{ post.title|urlify }}&source={{ request.build_absolute_uri }}" target="_blank">Share on Linkedin</a>
        <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ post.title|urlify }}" target="_blank">Share on Reddit</a>
      </div> -->
    </div>
  </article>
{% endblock content %}
