{% extends 'blog/base.html' %}
{% load markdownify %}

{% block content %}
  <!-- to get the username that is passed in to the url -->
  <div class="mb-3 d-flex flex-column align-items-center">
    <img class="rounded-circle article-img-user-posts mb-3" src="{{ author.profile.image.url }}" alt="profile-pic">
    <h1>{{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
  </div>
  {% for post in posts %}
    <article class="media">
      <div class="card my-4">
        <div class="card-body">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'blog:user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_published|date:"N d, Y" }}</small>
              <small><strong>Tags:</strong>
                  {% for tag in post.tags.all %}
                    <a class="badge badge-warning text-dark" href="{% url 'blog:post_list_by_tag' tag.slug %}">
                      <span class="badge-text">{{ tag.name }}</span>
                    </a>
                  {% endfor %}
              </small>
              <span class="badge badge-danger text-white badge-text align-middle">
                {% include 'blog/_time_to_read.html' %}
              </span>
            </div>
            <h2><a class="article-title underline" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|markdownify|safe|truncatewords_html:50 }}</p>
          </div>
        </div>
      </div>
    </article>
  {% endfor %}

  {% include 'blog/_pagination.html' %}

{% endblock content %}
