{% extends 'blog/base.html' %}
{# {% load blog_tags %} #}

{% block content %}
  <!-- to get the username that is passed in to the url -->
  <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
  {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'blog:user-posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_published|date:"N d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p class="article-content content-markdown">{{ post.content|truncatewords_html:30 }}</p>
        <!-- add in post_detail -> {{ post.content|markdown }} -->
      </div>
    </article>
  {% endfor %}

  {% include 'blog/_pagination.html' %}

{% endblock content %}
